apiVersion: v1
kind: Service
metadata:
  name: pr-demo-app
  labels:
    app: pr-demo-app
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: pr-demo-app